{% extends 'base.html.twig' %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
        <p>{{program.summary}}</p>
  </div>
  <div class="media-body">
    <h2 class="mt-0">Liste des épisodes :</h2>
        <ul>
            {% for episode in season.episodes %}
                <li>Episode {{episode.number}} : {{episode.title}}</li>
            {% endfor %}
        </ul>
  </div>

{% endblock %}